<section>
    <div class="container">
        <div>
            <div class="row">
                <div class="col-md-4">
                    <h2>
                        <span style="font-size:x-large" class="RecipeTitle"
                              ng-bind="recipe.Name"></span>
                    </h2>
                    <p>Posted: {{recipe.PostDate | date:'dd MMM yyyy'}}</p>
                    <img ng-src="{{recipe.BlurbImage}}" />
                </div>
                <div class="col-lg-3" id="col2">
                    <span style="font-size:large" ng-bind="recipe.Blurb"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Ingredients</h3>
                <ul>
                    <li ng-repeat="ingredient in recipe.Ingredients track by $index">
                        <span ng-bind="ingredient"></span>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Instructions</h3>
                <ul>
                    <li ng-repeat="instruction in recipe.Instructions track by $index">
                        <span ng-bind="instruction"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>