<section>
    <div class="container">
        <div ng-repeat="recipe in recipes track by $index">
            <div class="row">
                <h2>
                    <span style="font-size:x-large" class="RecipeTitle"
                          ng-bind="recipe.Name"></span>
                </h2>
            </div>
            <div class="row">
                <div class="col-lg-3" id="col1">
                    <img ng-src="{{recipe.BlurbImage}}" />
                </div>
                <div class="col-lg-3" id="col2">
                    <span style="font-size:large" ng-bind="recipe.Blurb"></span>
                </div>
            </div>
        </div>
    </div>
    <span ng-if="recipes.length == 0">No results to show</span>
</section>