<section>
    <h1>Fat, Saturated Fat and Cholestrol Content of Poultry</h1>
    <table style="background-color: rgb(255, 102, 102);">
        <thead>
            <tr>
                <th align="left">
                    Poultry Item:
                    (3 ounces, roasted)
                </th>
                <th align="left">
                    Total Fat
                    (grams)
                </th>
                <th align="left">
                    Saturated Fat
                    (grams)
                </th>
                <th align="left">
                    Cholestrol
                    (milligrams)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="4">
                    Chicken
                </td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp; White meat, no skin</td>
                <td>3</td>
                <td>0.9</td>
                <td>72</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp; White meat, with skin</td>
                <td>7</td>
                <td>1.9</td>
                <td>71</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp; Dark meat, no skin</td>
                <td>9</td>
                <td>2.6</td>
                <td>81</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp; Dark meat, with skin</td>
                <td>13</td>
                <td>3.7</td>
                <td>79</td>
            </tr>
            <tr>
                <td>Turkey</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp; White meat, no skin</td>
                <td>1</td>
                <td>0.2</td>
                <td>71</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp; White meat, with skin</td>
                <td>6</td>
                <td>2.1</td>
                <td>75</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp; Ground</td>
                <td>13</td>
                <td>3.4</td>
                <td>102</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp; Groud, extra lean</td>
                <td>2</td>
                <td>0.5</td>
                <td>45</td>
            </tr>
            <tr>
                <td>Duck</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp; Domestic, no skin</td>
                <td>10</td>
                <td>3.5</td>
                <td>76</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp; Domestic, with skin</td>
                <td>19</td>
                <td>8.2</td>
                <td>77</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp; Wild, no skin</td>
                <td>4</td>
                <td>1.1</td>
                <td>65</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp; Wild, with skin</td>
                <td>13</td>
                <td>4.3</td>
                <td>68</td>
            </tr>
            <tr>
                <td>Goose</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp; White &amp; dark, no skin</td>
                <td>11</td>
                <td>3.9</td>
                <td>82</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp; White &amp; dark, with skin</td>
                <td>19</td>
                <td>5.8</td>
                <td>77</td>
            </tr>
        </tbody>
    </table>
</section>