<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="/Images/Profile.jpg" />
            </div>           
            <div class="col-md-3">
                <p>
                    I love a healthy and active lifestyle and believe that good, wholesome and healthy food is a
                    big part of it. I also believe that everyone has a right to access great recipes without any
                    catches and gotchas.
                </p>
                <p>
                    Which is why I like to share my knowledge about how to cook healthy and tasty meals which
                    not only tastes great, but keeps your body healthy as well. What could be better than this!
                </p>
                <p>
                    Bon Appétit!
                </p>
            </div>
        </div>
    </div>
</section>