<section>
    <h1>Fat, Saturated Fat and Cholestrol Content of Lean Read Meat</h1>
    <h2>(in comparision to skinless chicken breast)</h2>
    <table style="background-color: rgb(255, 102, 102);">
        <thead>
            <tr>
                <th align="left">
                    Cut of Meat:
                    (3 ounces, roasted)
                </th>
                <th align="left">
                    Total Fat
                    (grams)
                </th>
                <th align="left">
                    Saturated Fat
                    (grams)
                </th>
                <th align="left">
                    Cholestrol
                    (milligrams)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Skinless Chicken Breat</td>
                <td>3.0 g</td>
                <td>0.9 g</td>
                <td>72 mg</td>
            </tr>
            <tr>
                <td>Pork, Tenderloin</td>
                <td>2.7 g</td>
                <td>0.9 g</td>
                <td>48 mg</td>
            </tr>
            <tr>
                <td>Pork, Boneless Top Loin Chop</td>
                <td>3.0 g</td>
                <td>1.0 g</td>
                <td>44 mg</td>
            </tr>
            <tr>
                <td>Beef, Eye of Round roast &amp; steak</td>
                <td>4.0 g</td>
                <td>1.5 g</td>
                <td>46 mg</td>
            </tr>
            <tr>
                <td>Beef, Bottom Round roast &amp; steak</td>
                <td>4.5 g</td>
                <td>1.6 g</td>
                <td>61 mg</td>
            </tr>
            <tr>
                <td>Beef, Sirloin Tip Steak</td>
                <td>4.5 g</td>
                <td>1.8 g</td>
                <td>63 mg</td>
            </tr>
            <tr>
                <td>
                    Pork, Cured Ham, boneless extra-lean<br>
                    (note, the sodium is 1,023 mg/3-ounce serving)
                </td>
                <td>4.7 g</td>
                <td>1.5 g</td>
                <td>45 mg</td>
            </tr>
            <tr>
                <td>Beef, Top Round roast &amp; steak</td>
                <td>4.8 g</td>
                <td>1.7 g</td>
                <td>66 mg</td>
            </tr>
            <tr>
                <td>Beef, Top Sirloin steak</td>
                <td>4.9 g</td>
                <td>1.9 g</td>
                <td>49 mg</td>
            </tr>
            <tr>
                <td>Pork, Boneless, Top Loin roast </td>
                <td>5.3 g</td>
                <td>1.6 g</td>
                <td>67 mg</td>
            </tr>
            <tr>
                <td>Ground beef, 95% lean</td>
                <td>5.6 g</td>
                <td>2.5 g</td>
                <td>65 mg</td>
            </tr>
            <tr>
                <td>Beef, Chuck Arm pot roast</td>
                <td>5.7 g</td>
                <td>1.9 g</td>
                <td>48 mg</td>
            </tr>
            <tr>
                <td>Veal, Loin</td>
                <td>5.9 g</td>
                <td>2.2 g</td>
                <td>90 mg</td>
            </tr>
            <tr>
                <td>Beef, Brisket-flat half</td>
                <td>5.9 g</td>
                <td>2.3 g</td>
                <td>59 mg</td>
            </tr>
            <tr>
                <td>Pork, Bone-in Center Loin chop</td>
                <td>6.2 g</td>
                <td>1.8 g</td>
                <td>71 mg</td>
            </tr>
            <tr>
                <td>Lamb, domestic, Loin</td>
                <td>8.2 g</td>
                <td>3.0 g</td>
                <td>81 mg</td>
            </tr>
        </tbody>
    </table>
</section>