<section>
    <h1>Cholestrol Content of Seafood</h1>
    <table style="background-color: rgb(255, 102, 102);">
        <thead>
            <tr>
                <th align="left">
                    Seafood
                </th>
                <th align="left">
                    Cholestrol
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <strong>
                        Finfish: (3 1/2 ounces, raw)
                    </strong>
                </td>
                <td>
                    25
                </td>
            </tr>
            <tr>
                <td>
                    Smelt
                </td>
                <td>
                    35
                </td>
            </tr>
            <tr>
                <td>Pacific Cod</td>
                <td>40</td>
            </tr>
            <tr>
                <td>
                    Northern Pike
                </td>
                <td>
                    40
                </td>
            </tr>
            <tr>
                <td>
                    Ocean Perch
                </td>
                <td>
                    40
                </td>
            </tr>
            <tr>
                <td>
                    Lake Trout
                </td>
                <td>
                    50
                </td>
            </tr>
            <tr>
                <td>
                    Sardine
                </td>
                <td>
                    50
                </td>
            </tr>
            <tr>
                <td>
                    Rainbow Trout
                </td>
                <td>
                    55
                </td>
            </tr>
            <tr>
                <td>
                    Haddock
                </td>
                <td>
                    65
                </td>
            </tr>
            <tr>
                <td>
                    Walleye Pike
                </td>
                <td>
                    85
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Shellfish (3 1/2 ounces, raw)</strong>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    Softshell clams
                </td>
                <td>
                    25
                </td>
            </tr>
            <tr>
                <td>
                    Scallops
                </td>
                <td>
                    35
                </td>
            </tr>
            <tr>
                <td>
                    Oysters
                </td>
                <td>
                    45
                </td>
            </tr>
            <tr>
                <td>
                    King Crab
                </td>
                <td>
                    60
                </td>
            </tr>
            <tr>
                <td>
                    Lobster
                </td>
                <td>
                    70-95
                </td>
            </tr>
            <tr>
                <td>
                    Northern Pink Shrimp
                </td>
                <td>
                    125-135
                </td>
            </tr>
            <tr>
                <td>
                    Gulf White Shrimp
                </td>
                <td>
                    140-180
                </td>
            </tr>
        </tbody>
    </table>

</section>