html,
body { height: 100%; margin: 8px; padding: 0; }


.RecipeTitle {
    margin-top: 8px;
    font-size: x-large;
}

.hoverHighlight:hover {
    opacity: 1;
    background-color: #ffa;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

/* If you plan on using affixed states, you need to include these in your CSS */
body.navbar-affixed-top {
    padding-top: 70px;
}

body.navbar-affixed-bottom {
    padding-bottom: 70px;
}

/* Bootstrap relies on HREF property of the A tag to be present to display the correct cursor but since we're using ng-click we need to have the following CSS */
.navbar a {
    cursor: pointer;
}

/* For looks, following is not necessary, although I recommend including the statements for the search form */
.navbar {
    border-radius: 0;
    border-bottom: 1px solid #bbb;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

